header {
  display: flex;
  align-items: center;
  max-width: 1344px;
  float: none;
  margin: 15px auto 0;
  padding: 0 30px; }
  @media (max-width: 600px) {
    header {
      flex-direction: column; } }
  @media (min-width: 1200px) {
    header .logo-name, header nav {
      flex: 1 0 0; } }
  header .logo-name {
    margin-right: 20px; }
    @media (min-width: 1200px) {
      header .logo-name {
        margin-right: 0; } }
    @media (max-width: 600px) {
      header .logo-name {
        order: 2; } }
    header .logo-name h1 {
      color: #fff;
      font-size: 18px; }
  @media (max-width: 600px) {
    header .logo-image {
      order: 1; } }
  header .logo-image img {
    max-width: 50px;
    height: auto; }
  header nav {
    color: white; }
    @media (min-width: 1200px) {
      header nav {
        flex: 1; } }
    @media (max-width: 600px) {
      header nav {
        order: 3; } }
  header nav ul {
    font-size: 14px;
    text-align: right;
    list-style-type: none;
    text-decoration: none;
    color: white !important;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap; }
    @media (max-width: 600px) {
      header nav ul {
        padding-inline-start: 0;
        margin: 0; } }
  header nav ul li {
    margin: 10px 30px;
    position: relative;
    display: inline-block; }
    @media (max-width: 900px) {
      header nav ul li {
        margin: 10px; } }
  header ul li.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    header ul li.nav-item img {
      margin-right: 5px; }
